.headr {
  .logo {
    position: absolute;
    top: 27%;
    transform: translate(-820%, 0%);
    cursor: pointer;

    img {
      border-radius: 20px;
      width: 200px;
    }

  }

  .el-menu-demo {
    background-color: #cbe5ff;
    justify-content: right;
    padding: 0px;
    margin-top: -10px;
    width: 100%;
    height: 100px;

    .el-menu-item {
      // color: red;
      // font-size: 16px;
      cursor: pointer;
    }

    ::v-deep .elmenuitem {
      // color: red;
      color: red;
      font-size: 16px;
      cursor: pointer;
    }

    .el-sub-menu {}
  }

  #head1 {
    height: 100px;
    animation: head1 1s;
    animation-iteration-count: 1;
    animation-direction: alternate;

    @keyframes head1 {
      from {
        height: 70px;
      }

      to {
        height: 100px;
      }
    }
  }

  #head2 {
    height: 70px;
    animation: head2 1s;
    animation-iteration-count: 1;
    animation-direction: alternate;

    @keyframes head2 {
      from {
        height: 100px;
      }

      to {
        height: 70px;
      }
    }
  }




}

.userimg {
  img {
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
}