body,
html {
  background-color: #f7f9fb;
  // position: relative;




  .my-login-page {


    .box {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);

      // background-color: rgb(87, 211, 245);

      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);

      height: 800px;
      width: 100%;
      // background-image: url('./Login/img/Loginbkg.png');
      background-size: 100% 100%;
      background-attachment: fixed;
      opacity: 1;
      font-size: 14px;
      width: 500px;
      margin-top: 40px;

      .brand {
        height: 321px;
        padding: 60px 0px 0px 100px;

        img {
          position: absolute;
          left: 150px;
        }

        // top: 500px;
      }

      .card-body {
        width: 500px;
        margin-top: -100px;
        height: 400px;
        // margin-bottom: 50px;
        // height: 200px;
        // background-color: rgb(87, 211, 245);

        .card-title {
          font-size: 30px;
          margin-bottom: 30px;
          margin-left: 20px;
        }

        .form-group {
          width: 360px;
          padding: 0px 0px 20px 70px;
        }
      }

      .text-center {
        margin-top: 70px;
        margin-left: 20px;
      }

      .card {
        border-color: transparent;
        box-shadow: 0 4px 8px rgba(0, 0, 0, .05);
      }


      .card-title {
        font-size: 50px;
        margin-bottom: 30px;
      }

      // z-index: 1;

      .forminput {
        border-width: 2.3px;
        height: 40px;


        label {
          width: 100%;
        }


      }

      .login {
        width: 200px;
        margin-left: 200px;
      }



      .btn-block {
        padding: 12px 10px;
        height: 50px;
      }

      .footer {
        position: absolute;
        top: 800px;
        margin: 40px 0;
        left: 130px;
        color: #888;
        text-align: center;

      }
    }



    .pwshow {
      width: 0px;
      height: 0px;
    }

    .pwshow img {
      width: 23px;
      height: 23px;
      // margin-top: -30px;
      position: relative;
      top: -33px;
      left: 327px;
      z-index: 999;
    }
  }
}