* {
  .box {
    ::v-deep .el-diog {
      z-index: 9999;
    }

    .div {
      img {
        position: absolute;
        top: 16px;
        left: 100px;
      }

      .el-icon-plus {
        // width: 200px;
        font-size: 50px;
        font-weight: 100;
        margin-top: -10px;
        color: rgb(181, 178, 178);
      }
    }
  }
}