.message {
  width: 80px;
  height: 700px;
  left: 200px;
  background-color: #f7f9fb;
  border-radius: 15px 0px 0 15px;
  z-index: 3;
  transition: all 0.5s;
  cursor: pointer;
  animation: navfly-in 0.5s cubic-bezier(0, 0, 0.3, 1) forwards;
  // background-image: url(./image/bear2.png);
  // background-size: 100% 50%;



  .contact {
    margin-top: 400px;
    text-align: center;
    // display: none;
    color: rgb(188, 185, 185);
  }

  .title {
    text-align: center;
    height: 70px;
  }

  .messagelist {
    display: flex;
    width: 250px;
    position: relative;

    // border-radius: 15px 0px 0 0px;
    .userimgdiv {

      .red {
        position: absolute;
        width: 15px;
        height: 15px;
        border-radius: 100%;
        background-color: red;
        transition: transform 2s;
        top: 10px;
        left: 0px;
        // z-index: 4;
        animation: myfirst 2s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      }

      @keyframes myfirst {
        from {
          background: red;

        }

        to {
          background: rgb(255, 128, 128);
          transform: scale(0.8);
        }
      }


      .userimg {
        width: 70px;
        height: 70px;
        margin: auto;
        padding: 5px;
        border-radius: 50%;
      }
    }


    .namediv {
      margin-top: -5px;

      .username {
        padding: 0 0px 0px 0px;
        // font-size: 20px;
        font-weight: 600;

        .userdo {
          font-size: 15px;
          font-weight: 500;
        }
      }

      .tips {
        position: absolute;
        font-size: 10px;
        left: 130px;
        top: 60px;
        background-color: white;
        text-align: center;
        border-radius: 5px;
        // width: 60px;
        display: none;
      }

      .lastmessage {
        font-size: 13px;
        padding: 0 0px 0px 0px;
      }

    }


  }

  .messagelist:hover {
    background-color: #e3edf8;

  }

  .messagelist:nth-child(1):hover {
    border-radius: 15px 0 0 0;
  }
}

.message:hover {
  width: 250px;
  transition: all 0.5s;
}


@media screen and (max-width: 1400px) {

  .message {
    display: none;
  }

}