html {

  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #f7f9fb;


  .app {

    header {
      position: fixed;
      left: 0;
      right: 0;
      z-index: 3;
    }

    body {
      position: relative;
      display: flex;

      Nav {
        z-index: 2;
      }

      section {
        // display: flex;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        .title {
          display: flex;

          margin-top: 80px;

          div {
            width: 200px;
            height: 60px;
            background-color: pink;
            margin: 20px;
            text-align: center;
            border-radius: 15px;
          }
        }
      }

      .mes {
        position: fixed;
        left: 100%;
        bottom: 30px;
        transform: translateX(-100%);

      }
    }
  }
}