html {

  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #f7f9fb;


  .app {

    header {
      position: fixed;
      left: 0;
      right: 0;
      z-index: 3;
    }

    body {
      position: relative;
      display: flex;



      Nav {
        z-index: 2;
      }


      section {
        // display: flex;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        .title {
          // z-index: 4;
          display: flex;

          margin: 100px;

        }
      }

      .views {
        width: 1200px;
        position: absolute;
        top: 200px;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .mes {
        position: fixed;
        left: 100%;
        bottom: 30px;
        transform: translateX(-100%);

      }
    }
  }
}