* {
  .box {
    position: fixed;
    top: 110px;
    width: 1200px;
    height: 800px;
    background-color: rgb(231, 231, 231);
    display: flex;
    border-radius: 15px;


    .closebox {
      position: absolute;
      left: 1160px;
      top: 10px;
      cursor: pointer;

      img {
        width: 25px;
      }
    }

    .top {
      position: relative;

      img {
        width: 150px;
        padding: 30px;
      }

      p {
        width: 200px;
        position: absolute;
        font-size: 30px;
        top: 50px;
        left: 250px;
      }
    }

    .title {
      position: absolute;
      display: flex;
      top: 200px;

      div {
        padding-right: 20px;
      }
    }

    .body {
      position: absolute;
      display: flex;
      top: 200px;

      div {
        width: 1178px;
        height: 530px;
        top: 380px;
        background-color: white;
        margin-left: -15px;
        font-size: 20px;
        border-radius: 0px 0px 15px 15px;
      }
    }

    .infobox {
      position: absolute;
      top: 300px;
      width: 100%;
      height: 100%;
      display: list-item;
      list-style: none;

      .div {

        margin-left: 50px;
        width: 100%;
        padding-top: 20px;
        display: flex;

        p {
          width: 150px;
        }

        .input {
          margin-top: 10px;
          display: flex;
          width: 300px;
          height: 50px;
        }


      }

      .myforuminfo {
        .commentbox {
          display: flex;

          .footerline {
            position: absolute;
            width: 700px;
            left: 50px;
            border-bottom: 1px solid #d1e8ff;
          }

          .user {
            width: 150px;
            padding: 20px;

            img {
              width: 100px;
              border-radius: 100%;
            }

            .username {
              text-align: center;
            }
          }

          .questionbox {
            padding-right: 20px;
            width: 860px;

            .question {
              font-size: 25px;
              font-weight: 700;
            }

            .more {
              position: relative;
              min-height: 80px;
              display: flex;
              width: 600px;
              margin-bottom: 20px;

              img {
                width: 150px;
                border-radius: 0px;
              }

              span {
                // position: absolute;
                width: 430px;
                margin-left: 20px;
                word-break: break-all;
                word-wrap: break-word
              }


            }

            .handle {
              display: flex;
              margin-bottom: 10px;

              div {
                margin-right: 20px;

                button {
                  background-color: rgb(232, 247, 252);
                  // background-color: rgb(47, 182, 255);
                  width: auto;
                  height: 30px;
                  border: 0px;
                  text-align: center;
                  display: flex;
                  border-radius: 5px;

                  p {
                    margin-top: 6px;

                    img {
                      width: 20px;
                      margin-top: -2px;
                      margin-right: 2px;

                    }

                    span {

                      margin-left: 10px;
                      margin-right: 10px;
                      font-size: 15px;
                      position: relative;
                      top: -4px;
                      left: 0px;
                    }
                  }
                }

                button:hover {
                  background-color: rgb(168, 230, 251);
                }

              }

            }


            .morecomment {
              display: none;

              .pushcomment {
                position: relative;
                width: 60px;
                height: 30px;
                font-size: 15px;
                margin-left: 570px;
                margin-top: -70px;
              }

              .othercommentbox {
                margin-top: -22px;
                border: 1px solid rgb(230, 222, 222);
                border-radius: 0px 0px 15px 15px;

                .othercommentdiv {
                  display: flex;

                  .otheruse {
                    width: 50px;
                    padding: 10px;

                    img {
                      width: 50px;
                    }

                    p {
                      text-align: center;
                      font-size: 10px;
                    }
                  }

                  .othercomment {
                    p {
                      font-size: 13px;
                      margin-right: 20px;
                    }
                  }
                }
              }
            }
          }

        }
      }
    }

    .btn {
      position: relative;
      top: 720px;
      left: 800px
    }
  }


}