.main {
  background-color: rgb(244, 252, 255);
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  position: absolute;
  border-radius: 15px;

  .title {
    // width: 300px;
    // height: 140px;

    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);

    span {
      font-size: 60px;
      font-weight: 1000px;
    }
  }

  .imghot {
    display: flex;

    .gdimg {
      margin-top: 30px;
      margin-left: 30px;

      img {
        width: 600px;
        height: 400px;
        // z-index: 10;
        border-radius: 0;
      }
    }

    .hotnews {
      position: relative;
      top: 30px;
      height: 300px;

      li {
        padding: 10px;
        list-style: none;
      }
    }
  }

  .allnews {
    width: 100%;
    height: auto;
    top: 400px;

    li {
      list-style: none;
    }
  }
}