.main {
  width: 1200px;
  height: 1200px;
  position: absolute;
  // background-color: olive;
  left: 50%;
  transform: translateX(-50%);


  .title {
    font-size: 30px;
    padding: 20px;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .imghot {
    display: flex;

    .gdimg {
      margin-top: 100px;

      img {
        width: 600px; // padding-bottom: 56.25%;
        height: 300px;
      }

      .btnleft {
        position: absolute;
        top: 350px;
        left: 530px;
      }

      .btnright {
        position: absolute;
        top: 350px;
        left: 500px;
      }
    }

    .hotnews {
      position: relative;
      top: 100px;
      height: 300px;

      li {
        padding: 10px;
      }
    }
  }

  .allnews {
    width: 100%;
    height: auto;
    top: 400px;
  }
}