html {


  nav {
    top: 50%;
    transform: translateY(-50%);
    // margin-top: 300px;
    margin-left: -20px;
    padding: 0;
    position: fixed;
    border-radius: 0 15px 15px 0;
    // border: 1px solid rgb(173, 156, 156);
    // background-color: rgb(71, 173, 173);
    animation: navfly-in 0.5s cubic-bezier(0, 0, 0.3, 1) forwards;
    // background-image: url(./image/bear2.png);
    // background-size: 100% 50%;

    @keyframes navfly-in {
      from {
        margin-left: -200px;
      }

      to {
        margin-left: -20px;
      }
    }

    text-align: center;

    .topimg {
      width: 140px;

      img {
        width: 140px;
        transform: scaleX(-1);
      }
    }

    .bottomimg {
      width: 140px;

      img {
        width: 140px;
      }
    }

    .top {
      margin-top: -24px;
      height: 100px;
      // background-color: aqua;
      margin-left: 25px;

      img {
        margin-top: 40px;
        border-radius: 0px;
        width: 50px;
      }
    }
  }
}

@media screen and (max-width: 1400px) {

  nav {
    display: none;
  }

}